:root {
  --icon-modifier: .65;
  --grid-gap: 24px;
  --font-stack-primary: Montserrat, sans-serif;
  --dodger-blue: #4c7cf3;
  --bright-cyan: #4afdfd;
  --pale-grey: #ededf0;
  --aqua-green: #0ddca1;
  --shocking-pink: #ff03a7;
  --noname-darkblue: #364b7f;
  --content-gutter: 0;
  --content-width: 1200px;
  --carousel-transparency: .3;
}

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(to bottom, var(--dodger-blue), #53a0fd 48%, #51ecbc 95%);
  font-family: var(--font-stack-primary);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: var(--dodger-blue);
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  outline: 0;
  padding: 0;
  transition: background .15s ease;
}

button:hover {
  background: var(--noname-darkblue);
}

img {
  width: 100%;
}

.downloadIcon {
  display: block;
  height: 65px;
  position: relative;
  width: 210px;
}

.downloadIcon::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0;
  transition: opacity .15s ease;
}

.downloadIcon:hover::after {
  opacity: 1;
}

.downloadIcon:not(:last-child) {
  margin-bottom: 20px;
}

.downloadIcon-Apple {
  background-image: url('../img/App Store.svg');
}

.downloadIcon-Apple::after {
  background-image: url('../img/App Store - Hover.svg');
}

.downloadIcon-Google {
  background-image: url('../img/Playstore.svg');
}

.downloadIcon-Google::after {
  background-image: url('../img/Playstore - Hover.svg');
}

.socialIcon {
  display: inline-block;
  height: 31px;
  width: 33px;
}

.socialIcon-Instagram {
  background-image: url('../img/Instagram.svg');
}

.socialIcon-Facebook {
  background-image: url('../img/Facebook.svg');
}

.sectionTitle {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 20px;
  padding-bottom: 12px;
  position: relative;
}

.sectionTitle::after {
  display: block;
  position: absolute;
  width: 70px;
  height: 4px;
  background: var(--bright-cyan);
  content: '';
  bottom: -4px;
  left: 0;
  border-radius: 2px;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--grid-gap); 
  margin: auto;
  max-width: var(--content-width);
  padding: 0 var(--content-gutter);
  width: 100%;
}

.main .content {
  margin-bottom: 125px;
}

.siteHeader {
  padding: 60px 0 80px;
}

.logo {
  background: url('../img/logo.svg');
  height: 26px;
  width: 193px;
}

.nav {
  display: flex;
  grid-column: span 6;
  grid-column-end: -1;
  justify-content: space-between;
}

.navLink {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.navLink.active {
  color: var(--bright-cyan);
}

.navLink::after {
  background: var(--bright-cyan);
  border-radius: 2px;
  bottom: 0;
  content: '';
  height: 3px;
  left: 50%;
  position: absolute;
  transition: .3s;
  width: 0;
}

.navLink:hover::after {
  left: 0;
  width: 100%;
}

.copy {
  font-size: 18px;
  line-height: 1.55;
  margin: 30px 0 35px;
}

.details {
  grid-column: span 5;
}

.scooterDetails {
  padding-top: 75px;
}

.scooterImage {
  max-width: 483px;
}

.scooterContainer {
  grid-column: span 6;
  grid-column-end: -1;
}

.etiquette {
  grid-template-rows: auto auto;
}

.etiquetteRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: -1;
}

@media (max-width: 1200px) {
  .etiquetteRow {
    grid-template-columns: repeat(2, 1fr);
  }
}

.etiquetteSection {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  color: var(--dodger-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
}

.etiquetteContent {
  grid-template-rows: auto auto;
}

[class^=etiquetteIcon] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.etiquetteIcon-sidewalk {
  background-image: url('../img/sidewalk.svg');
  height: calc(235px * var(--icon-modifier));
  width: calc(246px * var(--icon-modifier));
}

.etiquetteIcon-upright {
  background-image: url('../img/upright.svg');
  height: calc(220px * var(--icon-modifier));
  width: calc(165px * var(--icon-modifier));
}

.etiquetteIcon-safe {
  background-image: url('../img/safe.svg');
  height: calc(245px * var(--icon-modifier));
  width: calc(203px * var(--icon-modifier));
}

.etiquetteTitle {
  color: inherit;
  font-size: 22px;
  line-height: 1.27;
}

.etiquetteCopy {
  font-size: 16px;
  line-height: 1.5;
}

.carouselContainer {
  grid-column: span 5;
  grid-column-end: -1;
  position: relative;
}

.carouselArrow {
  background: url('../img/carousel-arrow.svg');
  cursor: pointer;
  height: 36px;
  opacity: var(--carousel-transparency);
  position: absolute;
  top: calc(50% - 36px/2);
  transition: opacity .15s ease;
  width: 20px;
}

.carouselArrow:hover {
  opacity: 1;
}

.carouselArrowLeft {
  left: -50px;
  transform: rotate(180deg);
}

.carouselArrowRight {
  right: -50px;
}

.carouselProgress {
  margin-top: 60px;
  padding: 0;
}

.carouselIndicator {
  background: var(--bright-cyan);
  border-radius: 3px;
  display: inline-block;
  height: 6px;
  margin-right: 5px;
  opacity: var(--carousel-transparency);
  vertical-align: top;
  width: 60px;
}

.carouselIndicator.active {
  opacity: 1;
}

.suggestBackground {
  background: url('../img/map.png') no-repeat center center;
  background-size: 989px 558px;
  margin-bottom: 40px;
}

.suggest {
  grid-column: 1 / -1;
  padding: 165px 0 260px;
}

.suggestHeader {
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
}

.suggestContainer {
  --button-width: 200px;
  --input-padding: 20px;
  margin: auto;
  position: relative;
  width: 80%;
}

.suggestButton {
  border-radius: 10px;
  height: 55px;
  position: absolute;
  right: var(--input-padding);
  top: 18px;
  width: var(--button-width);
}

.suggestInput {
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 0 18px 0 var(--bright-cyan);
  color: var(--noname-darkblue);
  display: block;
  font-size: 36px;
  font-weight: bold;
  height: 90px;
  padding: 15px calc(var(--button-width) + (var(--input-padding)*2)) 15px 30px;
  transition: box-shadow .2s ease;
  width: 100%;
}

.suggestInput::placeholder {
  color: var(--pale-grey);
}

.suggestInput:focus {
  box-shadow: 0 0 18px 0 var(--dodger-blue);
  outline: 0;
}

.footer {
  align-items: center;
  background: var(--dodger-blue);
  display: flex;
  height: 100px;
}

.footerNav {
  align-items: center;
  display: flex;
  font-size: 12px;
  grid-column: span 9;
  grid-column-start: -1;
}

.footerNav .socialIcon {
  margin-left: 10px;
}

@media (max-width: 1350px) {
  :root {
    --content-gutter: 75px;
  }
}

@media (max-width: 1090px) {
  .nav {
    grid-column: span 8;
    grid-column-end: -1;
  }

  .details {
    grid-column: span 6;
  }
}

@media (max-width: 760px) {
  .etiquetteRow {
    grid-template-columns: 1fr;
  }

  .etiquetteSection {
    margin: auto;
    padding: 30px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .content {
    padding: 0 30px;
  }
}
